<a href="https://colab.research.google.com/github/sehrishbano1926/sehrishbano1926/blob/main/Copy_of_Exercises_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary manipulation exercises

a. Create a dictionary with key-value pairs and try these tasks:

i. Retrieve values by their keys.

Hint: Use the key within square brackets or the get() method.

**The question is asking you to create a dictionary in Python and then retrieve the values associated with specific keys using two different methods: square brackets and the get() method. Here's a step-by-step example to clarify:**

In [ ]:
from typing import AsyncGenerator
my_dict={
    'name': 'Sehrish bano',
    'age': 20,
    'city': 'islamabad'
}

#Retrieve the values by using square brackets

name=my_dict['name']
age=my_dict['age']
city=my_dict['city']

print(name)
print(age)
print(city)

Sehrish bano
20
islamabad

The **get() method** is another way to retrieve values from a dictionary. It is useful because it allows you to specify a default value if the key does not exist in the dictionary.

In [ ]:
#Retrieve values by keys using the get() method
name=my_dict.get('name')
age=my_dict.get('age')
city=my_dict.get('city')
country=my_dict.get('country', 'pakistan')

print(name)
print(age)
print(city)
print(country)

Sehrish bano
20
islamabad
pakistan

ii. Add new entries to the dictionary.

Hint: Assign a value to a new key using the assignment operator.

**To add new entries to a dictionary in Python, you can use the assignment operator to assign a value to a new key. Here's an example using the dictionary we created earlier:**

In [ ]:
my_dict['profession']='Data Scientist'
my_dict['hobbies']=['reading', 'hiking']
print(my_dict)

{'name': 'Sehrish bano', 'age': 20, 'city': 'islamabad', 'profession': 'Data Scientist', 'hobbies': ['reading', 'hiking']}

iii. Update a value for an existing key.

Hint: Assign a new value to the existing key.

In [ ]:
my_dict['age']=60
print(my_dict)

{'name': 'Sehrish bano', 'age': 60, 'city': 'islamabad', 'profession': 'Data Scientist', 'hobbies': ['reading', 'hiking']}

iv. Remove an entry from the dictionary.

Hint: Use the pop() or del keyword.

In [ ]:
removed_city= my_dict.pop('city')
print(removed_city)
print(my_dict)

islamabad
{'name': 'Sehrish bano', 'age': 20}

In [ ]:
del my_dict['city']
print(my_dict)

{'name': 'Sehrish bano', 'age': 20}


# List manipulation exercises

a. Make a list containing various data types (e.g., strings, integers, floats) and work on these tasks:

i. Access elements via their indices.

Hint: Use the index inside square brackets.

In [ ]:
list_a=['sehrish bano', 30, 34.6]
element_a=list_a[0]
element_b=list_a[1]
element_c=list_a[2]
print(element_a)
print(element_b)
print(element_c)

sehrish bano
30
34.6

ii. Obtain a sub-list by slicing the list.

Hint: Use the colon syntax start:end.

In [ ]:
list_b=[3,4,5,7,9,0,'car','girl',45]
slice_1=list_b[2:7]
print(slice_1)

[5, 7, 9, 0, 'car']

In [ ]:
slice_2=list_b[0:5]
print(slice_2)

[3, 4, 5, 7, 9]

iii. Modify elements at specified positions.

Hint: Assign a new value to an element using its index.

In [ ]:
list_b[6]='sehrish'
print(list_b)

[3, 4, 5, 7, 9, 0, 'sehrish', 'bano', 'girl', 45, 'bano']

iv. Add new elements to the list.

Hint: Use the append() method.

In [ ]:
list_b.append('bano')

In [ ]:
list_b

[3, 4, 5, 7, 9, 0, 'sehrish', 'girl', 45, 'bano']

v. Remove and return elements from the list.

Hint: Use the pop() method with the index of the element.

**Use pop(index):** The pop() method removes and returns the element at the specified index.

In [ ]:
removed_element=list_b.pop(3)

In [ ]:
removed_element

7

In [ ]:
list_b

[3, 4, 5, 9, 0, 'sehrish', 'girl', 45, 'bano']

vi. Delete an element at a given position.

Hint: Use the del keyword with the index of the element.

In [ ]:
del list_b[6]
print(list_b)

[3, 4, 5, 9, 0, 'sehrish', 45, 'bano']

*vii*. Sort the list in ascending and descending order.

Hint: Use the sorted() function or sort() method with the reverse parameter.

In [ ]:
list_c=[5,3,2,6,0,9,8,1,3,6,]
list_c.sort()
list_c

[0, 1, 2, 3, 3, 5, 6, 6, 8, 9]

In [ ]:
list_c.sort(reverse=True)
list_c

[9, 8, 6, 6, 5, 3, 3, 2, 1, 0]

viii. Reverse the list.

Hint: Use the reverse() method or slicing with [::-1].

In [ ]:
#reverse method
list_c.reverse()

list_c

[9, 8, 6, 6, 5, 3, 3, 2, 1, 0]

In [ ]:
#slicing
reverse_list=list_c[::-1]
list_c

[9, 8, 6, 6, 5, 3, 3, 2, 1, 0]

In [ ]:
reverse_list

[0, 1, 2, 3, 3, 5, 6, 6, 8, 9]

In [ ]:
list_c

[9, 8, 6, 6, 5, 3, 3, 2, 1, 0]

ix. Insert an element at a specified position.

Hint: Use the insert() method with the index and the element as arguments.

In [ ]:
list_c.insert(0, 'motee')
list_c

['motee', 9, 8, 6, 6, 5, 3, 3, 2, 1, 0]


# String comparison exercise

a. Perform a case-insensitive comparison of two strings and print whether they are equal.

Hint: Use the lower() method or upper() method before comparing the strings.

**lower() Method**:

The lower() method converts all uppercase characters in a string to lowercase. It does not modify the original string but returns a new string with all characters in lowercase.


The **upper() method** converts all lowercase characters in a string to uppercase. Like lower(), it does not modify the original string but returns a new string with all characters in uppercase.

In [ ]:
string_a='sehrish bano'
string_b='motoo and motii'
#Using the lower() method:

if string_a.lower()==string_b.lower():
  print('the string are equal')

else:
  print('the strings are not equal')

the strings are not equal

In [ ]:
string1='tom and jerry'
string2='tom and jerry'

if string1.lower()==string2.lower():
  print('strings are equal')

else:
  print('not equal strings')

strings are equal

In [ ]:
if string1.upper()==string2.upper():
  print('strings are equal')

else:
  print('not equal strings')

strings are equal

In [ ]:
if string_a.upper()==string_b.upper():
  print('the string are equal')

else:
  print('the strings are not equal')

the strings are not equal

In [ ]:
string1='tom and jerry'
string2='TOM AND JERRY'

print(string1.upper())
print(string2.lower())

TOM AND JERRY
tom and jerry

In [ ]:
if string2.upper()==string2.upper():
  print('the string are equal')

else:
  print('the strings are not equal')

the string are equal

In [ ]:
if string1.upper()==string1.upper():
  print('the string are equal')

else:
  print('the strings are not equal')

the string are equal

In [ ]:
if string1.upper()==string1.lower():
  print('the string are equal')

else:
  print('the strings are not equal')

the strings are not equal

# String manipulation exercises

a. Start with a sentence string and complete these tasks:

i. Add another sentence to the existing one.

Hint: Use the + operator or the join() method.

In [ ]:
sentence1='i am sehrish bano'
sentence2='i am data scientist'
print(sentence1 + " "+  sentence2 )

i am sehrish bano i am data scientist

In [ ]:
print(" ".join([sentence1, sentence2]))

i am sehrish bano i am data scientist

ii. Display the string in upper case, lower case, and title case.

Hint: Use the upper(), lower(), and title() methods.

In [ ]:
s1='SEHRISH BANO'
s2='sehrish bano'
print(s1.lower())
print(s2.upper())
print(s1.title())
print(s2.title())

sehrish bano
SEHRISH BANO
Sehrish Bano
Sehrish Bano

iii. Verify if the string is in title case or upper case.

Hint: Use the istitle() and isupper() methods.

In [ ]:
s1.istitle()

False

In [ ]:
s2.islower()

True

iv. Locate the position of a word within the string.

Hint: Use the find() or index() method.

In [ ]:
#use index method()
word=' i do like dancing in the room lonely'
word.index('in')

15

In [ ]:
#use find method()
word.find('room')

26

v. Break the string into parts using a specific character.

Hint: Use the split() method with the character as an argument.

In [ ]:
word.split()

['i', 'do', 'like', 'dancing', 'in', 'the', 'room', 'lonely']