<a href="https://colab.research.google.com/github/sehrishbano1926/sehrishbano1926/blob/main/IF_ELSE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **IF_AND_ELSE** STATEMENT

# In python, there are four types of if..... else statements.


*   if statement
*   if...else statement

*   if....elif....else statement
*   nested if

# 1: if statement


*   we take input, if we give an input it always return string as an output. thats why we have to mention of input, if the input is already string its ok.

In [ ]:
age=int(input("enter your age "))
if age<18:
  print("ap school mai paadtay hongay ")
print("best of luck! ")

enter your age 20
best of luck!

In [ ]:
salary=float(input("enter your salary "))
if salary > 50000.45:
  print("buy a BMW")
print("mar jawoo ")

enter your salary 600000.00
buy a BMW
mar jawoo

In [ ]:
salary=567.435
if salary < 4564.78:
  print("buy a bag")

buy a bag

# IF_ELSE STATEMENT

If we want more then one condition we use this. if the first condition is not satistfy then 2nd condtion will print.\

In [ ]:
age=int(input("enter your age: "))
if age>23:
  print("you should get marry! ")
else:
  print("focus on your career!")

enter your age: 24
you should get marry!

# IF_ELIF_ELSE STATEMENT

if we have more than more condition.

as the conditions satisfy , the output will come out

In [ ]:
age=int(input("enter your age: "))
if age>25:
        print("must be a jobian")
elif age > 30:
        print("married ")
else:
        print ("lofarrrrrrrrrrrr! ")

enter your age: 20
lofarrrrrrrrrrrr!

# NESTED_IF




*   if we have two if statements, outer and inner statement.
if the outer statement is true then it will print the inner statement.

*   Lif the first if statement is not satisfy then else statement is print.


*   remember here is also two else statements. inner and outer else statement.
*   List item

In [ ]:
salary= 50000
married='true'
if (salary < 5000):
  if (married =='false'):
    print("you are lucky")
print("badnaseeb")

badnaseeb

In [ ]:
salary= 50000
married='true'
if (salary < 5000):
  if (married =='true'):
    print("you are lucky")
print("badnaseeb")

badnaseeb

In [ ]:
salary= 50000
married='true'
if (salary > 5000):
  if (married =='false'):
    print("you are lucky")
print("badnaseeb")

badnaseeb

In [ ]:
salary= 50000
married='true'
if (salary > 5000):
  if (married =='true'):
    print("you are lucky")
print("badnaseeb")

you are lucky
badnaseeb